//
//  Cats.xcconfig
//  VariousBundles
//
//  Created by Rinat Abidullin on 04.04.2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_BUNDLE_IDENTIFIER = com.example.cats
DISPLAY_NAME = Cats
APP_ICON_ASSET_NAME = AppIcon-cat
